body {
  font-family:'Courier New', Courier, monospace;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.success {
  color: green;
  background: lightgreen;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
  background: lightpink;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
